<div class='bfs-dfs-container'>
    <div class='bfs'>
        Breadth-First Search<br>
        <canvas id='bfs-graph'></canvas>
    </div>
    <div class='dfs'>
        Depth-First Search<br>
        <canvas id='dfs-graph'></canvas>
    </div>
</div>
<div class='button-container'>
    <button type="button" id="play" name="play">
        <i class="fa fa-play" aria-hidden="true"></i>
    </button>
    <button type="button" id="reset" name="reset">
        <i class="fas fa-redo" aria-hidden="true"></i>
    </button>
</div>